backports.functools-lru-cache==1.5
cycler==0.10.0
kiwisolver==1.0.1
matplotlib==2.2.4
numpy==1.16.2
pyparsing==2.3.1
python-dateutil==2.8.0
pytz==2018.9
six==1.12.0
subprocess32==3.5.3
#pip freeze > requirements2.txt //this creates a package.json type file
#pip install -r requirements2.txt //this installs onto the 
#sudo apt-get install python-tk
# for below you need to set up a virtual environment with the name pyEnvironment
#source ./pyEnvironment/bin/activate //to use this environment 
